body {
    background-color: #ebf3f6;
    font-family: arial;
}

#of-filter-menu {
    border: 1px solid #979998;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    background-color: #fefffd;
    position: fixed;
    right: 10px;
    z-index: 30;
}

#title-container {
    float: left;
    width: 100%;
    text-align: center;
}

#of-login-form {
    border: 1px solid #979998;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    background-color: #fefffd;
    position: fixed;
    left: 10px;
    z-index: 30;
    text-align: center;
}

#of-login-form-out {
    display: none;
}

body>div.jOrgChart {
    clear: both;
}

#of-org-form {
    display: none;
}

.of-unit-box {
    position: relative;
}

.of-unit-view {
    position: relative;
}

.of-unit-details {
    border: 4px solid #969898;
    box-shadow: 2px 2px 2px #6e7375;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    background-color: #fefffd;
}

.of-title-name {
    min-height: 55px;
}

.of-unit-details:hover .of-title-name, .shown .of-title-name, .shown-temp .of-title-name {
    min-height: 0px;
}

.of-all-others {
    display: none;
}

.of-unit-add-child, .of-unit-remove-node {
    width: 120px;
}

.of-unit-details.noreqn {
    border: 1px dashed;
}

.of-unit-show {
    position: absolute;
    display: none;
    cursor: pointer;
    background-image: url("/pin-lifted.png");
    width: 33px;
    height: 33px;
    bottom: 5px;
    right: 5px;
}

.of-unit-details:hover .of-unit-show, .of-unit-details.shown .of-unit-show {
    display: block;
}

.of-unit-details.shown .of-unit-show {
    background-image: url("/pin-pinned.png");
}

.of-unit-edit {
    position: absolute;
    bottom: 40px;
    right: -7px;
}

.of-req-num {
    clear: both;
}

.of-unit-cancel {
    display: none;
    float: right;
}

.of-unit-details:hover .of-all-others, .shown .of-all-others, .shown-temp .of-all-others {
    display: block;
}

.of-unit-details:hover .of-unit-type:before, .shown .of-unit-type:before, .shown-temp .of-unit-type:before {
    display: none;
}

.of-unit-status-container {
    clear: both;
}

.of-unit-name {
    font-weight: bold;
}

.of-unit-box p {
    margin: 1px;
}

.of-unit-box.vacancy .of-unit-details {
    background-color: #ffc4c4;
}

.of-unit-box.fulltime .of-hours-weekly {
    color: rgba(0,255,0,1);
}

.of-unit-box.parttime .of-hours-weekly {
    color: rgba(255,100,0,1);
}

.of-unit-box.veryparttime .of-hours-weekly {
    color: rgba(255,0,0,1);
}

.of-unit-box.hidden>.of-unit-details {
    display: none;
}

.of-unit-edit-form, .of-unit-delete-confirm, .of-unit-collapsed {
    display: none;
}

span.of-unit-lc {
    position: absolute;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    height: 30px;
    width: 18px;
    text-align: center;
    background-color: #886644;
    right: 10px;
    top: -10px;
}

.of-unit-type:before {
    position: absolute;
    right: 5px;
    bottom: 5px;
    content: "V";
    width: 1em;
    height: 1em;
    padding: 4px;
    font-size: 1em;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 1em;
    float: left;
}

.of-unit-box.employee .of-unit-type:before {
    content: "E";
    border-color: #00699a;
}

.of-unit-box.contractor .of-unit-type:before {
    content: "C";
    border-color: #9c0e0c;
}

