body {
    background-color: rgb(30,30,30);
}

#of-filter-menu {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    background-color: grey;
    position: fixed;
    right: 10px;
}

#of-org-form {
    margin-left: -30px;
}

#of-org-form, .of-unit-listing {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.of-unit-listing {
    border-left: 1px solid;
    margin-left: 15px;
    padding-left: 15px;
}

.of-unit-box:hover>.of-unit-listing {
    border-left: 1px solid white;
}

.of-title-name {
    padding-bottom: 10px;
}

.of-unit-box {
    width: 600px;
}

.of-unit-details {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    height: 25px;
    overflow: hidden;
    background-color: grey;
}

.of-unit-details.noreqn {
    border: 1px dashed;
}

.of-unit-show {
    float: right;
}

.of-unit-details:hover, .shown {
    height: auto;
}

.of-unit-details:hover .of-title-name, .shown .of-title-name {
    padding-bottom: 0px;
}

.of-unit-name {
    font-weight: bold;
}

.of-unit-box p {
    margin: 1px;
}

.of-unit-box.fulltime .of-hours-weekly {
    color: rgba(0,255,0,1);
}

.of-unit-box.parttime .of-hours-weekly {
    color: rgba(255,100,0,1);
}

.of-unit-box.veryparttime .of-hours-weekly {
    color: rgba(255,0,0,1);
}

.of-unit-box.hidden>.of-unit-details {
    display: none;
}