<html>
  <head>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/of.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          var of = new orgForm();
      });
    </script>
    <link rel="stylesheet" href="/of.css" />
  </head>
  <body>
    <h1 id="title"></h1>
    <div id="of-org-form">
      <ul class="of-unit-listing">
      </ul>
      <li class="of-unit-box">
        <div class="of-unit-details">
          <span class="of-unit-title"></span>
          <span class="of-unit-name"></span>
          <span class="of-unit-reqn"></span>
          <span class="of-unit-start"></span>
          <span class="of-unit-end"></span>
          <span class="of-unit-hrs"></span>
        </div>
      </li>
    </div>
  </body>
</html>
