<html>
  <head>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/jquery.form.js"></script>
    <script type="text/javascript" src="/jquery.jorgchart.js"></script>
    <script type="text/javascript" src="/of.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          var of = new orgForm();
      });
    </script>
    <link rel="stylesheet" href="/of.css" media="screen" />
    <link rel="stylesheet" href="/of-print.css" media="print" />
    <link rel="stylesheet" href="/jorgchart.css" media="screen" />
  </head>
  <body>
    <h1 id="title"></h1>
    <div id="of-filter-menu">
      <label><input type="checkbox" id="of-expand-all" /> Expand all</label><br />
      <label><input type="checkbox" id="of-filter-vacant" checked="checked" /> Show vacancies</label><br />
      <label><input type="checkbox" id="of-filter-contract" checked="checked" /> Show contractors</label><br />
      <label><input type="checkbox" id="of-filter-employee" checked="checked" /> Show employees</label><br />
    </div>
    <div id="of-login-form">
      <div id="of-login-form-in" class="hide-when-logged">
        <form action="/login" method="POST">
          <p><label>Username <input type="text" name="username" /></label></p>
          <p><label>Password <input type="password" name="password" /></label></p>
          <p><input type="submit" value="Login" /></p>
        </form>
      </div>
      <div id="of-login-form-out" class="hide-until-logged">
        <form action="/logout" method="POST">
          <p><input type="submit" value="Logout" /></p>
        </form>
      </div>
    </div>
    <ul id="of-org-form">
      <ul class="of-unit-listing">
      </ul>
      <li class="of-unit-box">
        <div class="of-unit-details">
          <div class="of-unit-view">
            <div class="of-title-name">
              <p class="of-unit-title"></p>
              <p class="of-unit-name"></p>
              <p>(<span class="of-unit-loc"></span>)</p>
              <button class="of-unit-show">+</button>
            </div>
            <p class="of-unit-status-container"><span class="of-unit-status"></span><button class="of-unit-edit hide-until-logged">Edit</button></p>
            <p class="of-req-num">Requisition Number: <span class="of-unit-reqn"></span></p>
            <p class="of-start-date">Start Date: <span class="of-unit-start"></span></p>
            <p class="of-end-date">End Date: <span class="of-unit-end"></span></p>
            <p class="of-hours-weekly">Hours Per Week: <span class="of-unit-hrs"></span></p>
            <p><button class="of-unit-add-child hide-until-logged">Add Subordinate</button></p>
            <p><button class="of-unit-remove-node hide-until-logged">Delete this Node</button></p>
          </div>
          <div class="of-unit-delete-confirm">
            <form class="of-unit-delete-confirm-form" method="POST" action="/remove">
              <p>Are you sure you want to delete this node?</p>
              <p class="of-unit-name"></p>
              <p><button type="submit" class="of-unit-remove-node-confirm">I'm sure! Delete!</button></p>
              <p><button type="button" class="of-unit-remove-node-cancel">Ah, no! Go back!</button></p>
            </form>
          </div>
          <div class="of-unit-edit-form">
            <form method="POST" action="/modify">
              <p><label>Job Title: <input name="title" class="of-unit-title" type="text" /></label></p>
              <p>
                <label>Status:
                  <select name="status">
                    <option value="employee">Employee</option>
                    <option value="contractor">Contractor</option>
                  </select>
                </label>
              </p>
              <p><label>Name: <input name="name" class="of-unit-name" type="text" /></label></p>
              <p><label>Physical Location: <input name="location" class="of-unit-loc" type="text" /></label></p>
              <p><label>Requsition Number: <input name="reqn" class="of-unit-reqn" type="text" /></label></p>
              <p><label>Start Date: <input name="start" class="of-unit-start" type="text" /></label></p>
              <p><label>End Date: <input name="end" class="of-unit-end" type="text" /></label></p>
              <p><label>Hours Per Week: <input name="hours" class="of-unit-hours" type="text" /></label></p>
              <p><button type="submit">Submit</button> <button type="button" class="of-unit-cancel-edit">Cancel</button></p>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </body>
</html>
